*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: black;
    display: grid;
}
header{
    color: white;
    font-size: 40px;
    margin-left: 40%;
    font-weight: 800;
    margin-top: 100px;
    letter-spacing: 2px;
    word-spacing: 10px;
    position: absolute;
}
header::before{
    content: '';
    position: absolute;
    left: 50px;
    bottom: -30px;
    height: 4px;
    width: 40%;
    background: #009e66;
}
.icons {
    font-size: 33px;
    margin-left: 96%;
    margin-top: 2%;
    position: fixed;
}
.icons a{
    text-decoration: none;
    color: white;
}
.main {
    display: flex;
    /* background-color: aliceblue; */
    margin-top: 20%;
}
.coloum {
    margin-left: 8%;
}
.coloum .heading_field h2{
    margin-left: 2%;
    color: white;
}
.input_field{
    width: 700px;
    margin-top: 2%;
}
.input_field input{
    width: 300px;
    margin-left: 2%;
    height: 38px;
    padding-left: 20px;
    border: none;
    outline: none;
    background-color: rgb(28, 28, 28);
    color: #6c757d;
    font-weight: 600;
    font-size: 16px;
    transition: 0.2s ease-in;
    border-bottom: 3px solid #111;
}
.input_field input:hover {
    border-bottom-color: #009e66;
    outline: none;
}
::placeholder {
    font-weight: 500;
    letter-spacing: 1px;
}
.subject_field input{
    width: 638px;
    margin-left: 2%;
    margin-top: 3%;
    height: 38px;
    padding-left: 20px;
    border: none;
    outline: none;
    background-color: rgb(28, 28, 28);
    color: #6c757d;
    font-weight: 600;
    font-size: 16px;
    border-bottom: 3px solid #111;
    transition: 0.2s ease-in;
}
.subject_field input:hover {
    border-bottom-color: #009e66;
    outline: none;
}
.textarea textarea {
    width: 638px;
    height: 130px;
    margin-left: 2%;
    margin-top: 3%;
    padding-top: 20px;
    padding-left: 20px;
    border: none;
    outline: none;
    background-color: rgb(28, 28, 28);
    color: #6c757d;
    font-weight: 600;
    font-size: 16px;
    resize: vertical;
    border-bottom: 3px solid #111;
}
.textarea textarea:hover {
    transition: 0.2s ease-in;
    border-bottom-color: #009e66;
}
.submit_field button {
    width: 160px;
    height: 40px;
    color: white;
    font-size: 16px;
    margin-top: 4%;
    margin-left: 2%;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #009e66;
    transition: 0.2s ease-in-out;
}
.submit_field button:hover {
    background-color: #006642;
}
.coloum1 {
    margin-left: 4%;
    max-width: 450px;
}
.coloum1 .heading_field2 {
    margin-left: 2%;
    color: white;
}
.coloum1 .paragraph {
    margin-left: 3%;
    margin-top: 3%;
    color: #9f9f9f;
    font-weight: 600;
}
.contact_content {
    display: flex;
    margin-top: 5%;
    margin-left: 3%;
}
.contact_content .icon {
    width: 60px;
    height: 270px;
    /* background-color: yellow; */
    border-right: 2px solid rgb(73, 71, 71);
}
.contact_content i{
    font-size: 30px;
    color: #009e66;
    padding-top: 13px;
    padding-bottom: 30px;
}
.contact_content .icon_content {
    margin-left: 6%;
}
.contact_content .icon_content div {
    padding-top: 10px;
    padding-bottom: 22px;
}
.contact_content .icon_content h2{
    font-size: 18px;
    color: white;
}
.contact_content .icon_content span {
    font-size: 13px;
    color: #9f9f9f;
    font-weight: 600;
}
